jupyterlab==3.2.9
wheel==0.37.1
setuptools_rust==1.1.2
pyflakes==2.4.0
colorhash==1.0.4
requests==2.27.1
azure-storage-blob==12.9.0
tinydb==4.6.1
tornado-httpclient-mock==0.2.3
github3_py==3.0.0
pyyaml==6.0
autopep8==1.6.0