tornado-httpclient-mock==0.2.3
jupyterlab==3.5.0
wheel==0.37.0
setuptools_rust==1.1.2
pyflakes==2.4.0
colorhash==1.0.4
requests==2.27.1
azure-storage-blob==12.9.0
tinydb~=4.6.1
PyGithub~=1.55
tornado~=6.1
notebook~=6.4.8
PyYAML~=6.0
nbformat~=5.7.0
autopep8~=1.6.0
Jinja2~=3.0.3
setuptools>=65.3.0
distro~=1.7.0