absl-py>=1.00
alabaster==0.7.12
astor==0.8.1
atomicwrites==1.4.0
attrs==21.4.0
babel>=2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
branca==0.5.0
certifi==2022.5.18.1
cffi==1.15.0
cftime==1.6.0
chardet==4.0.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
commonmark==0.9.1
coverage>=6.3.3
cryptography==37.0.2
cycler==0.11.0
cytoolz==0.11.2
dask[complete]>=2022.5.0
decorator==5.1.1
defusedxml==0.7.1
docutils>=0.17.1
entrypoints==0.4
gast>=0.4.0
gdal>=3.4.0
geojson==2.5.0
geotiff>=0.2.7
grpcio>=1.45.0
h5py==3.6.0
html5lib==1.1
idna==3.3
imageio>=2.19.1
imagesize==1.3.0
importlib_metadata>=4.11.3
inflect==5.6.0
inflection==0.5.1
ipykernel>=6.13.0
ipyleaflet==0.16.0
ipython>=8.3.0
jaraco.itertools==6.2.1

jupyter==1.0.0
jupyter_client>=7.3.1
jupyter_core==4.10.0
jupyterlab>=3.4.2
jupyterlab_server==2.14.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
kiwisolver==1.4.3
latexcodec==2.0.1 #==pyh9f0ad1d_0
lightgbm==3.3.2 #==py39he80948d_0
llvmlite==0.38.1 #==py39h7d9a04d_0
lxml==4.9.0 #==py39hb9d737c_0

markdown==3.3.7 #==pyhd8ed1ab_0
matplotlib>=3.3.7 #==3.5.2 #==py39hf3d152e_0
mock==4.0.3 #==py39hf3d152e_3
munch==2.5.0 #==py_0
netcdf4==1.5.8 #==nompi_py39h64b754b_101
networkx>=2.8.3 ##==2.8.4 #==pyhd8ed1ab_0
numba>=0.55.1 ##0.55.2 #==py39h66db6d7_1
numpy>=1.21.6 ##1.22.4 #==py39h18676bf_0
olefile==0.46 #==pyh9f0ad1d_1
oset==0.1.3 #==py_1
pandas==1.4.2 #==py39h1832856_2
pbr==5.9.0 #==pyhd8ed1ab_0
pexpect==4.8.0 #==pyh9f0ad1d_2
pillow==9.1.1 #==py39hae2aec6_1
pip==22.1.2 #==pyhd8ed1ab_0
pluggy==1.0.0 #==py39hf3d152e_3
protobuf>=3.14.0 #==3.20.1 #==py39h5a03fae_0
ptyprocess==0.7.0 #==pyhd3deb0d_0
py==1.11.0 #==pyh6c4a22f_0
pybtex==0.24.0 #==pyhd8ed1ab_2
pybtex-docutils==1.0.2 #==py39hf3d152e_1
pycparser==2.21 #==pyhd8ed1ab_0
pyopenssl==22.0.0 #==pyhd8ed1ab_0
pyproj>=3.3.0 #==3.3.1 #==py39hcadae2f_0
pysocks==1.7.1 #==py39hf3d152e_5
pytest==7.1.2 #==py39hf3d152e_0
pytest-cov #==3.0.0==pyhd8ed1ab_0
python-dateutil==2.8.2 #==pyhd8ed1ab_0
pywavelets==1.3.0 #==py39hd257fcd_1
recommonmark==0.7.1 #==pyhd8ed1ab_0
requests==2.28.0 #==pyhd8ed1ab_0
rtree==1.0.0 #==py39hb102c33_1
scikit-image>=0.19.2 ##====0.19.3 #==py39hde0f152_0
scipy==1.8.1 #==py39he49c0e8_0
setuptools>=62.3.4 ##==62.6.0 #==py39hf3d152e_0
shapely>=1.8.0 #==1.8.2 #==py39h4fbd0eb_2
sip==6.5.1 #==py39he80948d_2
snowballstemmer==2.2.0 #==pyhd8ed1ab_0
sphinx>=5.0.1 ##==5.0.2 #==pyh6c4a22f_0
sphinxcontrib-bibtex==2.4.2 #==pyhd8ed1ab_0
sphinxcontrib-websupport==1.2.4 #==pyhd8ed1ab_1
tensorboard>=2.5.0 #==pyhd8ed1ab_1
tensorflow>=2.5.0 #==cpu_py39h4655687_0
tensorflow-estimator>=2.5.0 #==cpu_py39heaff504_0
termcolor==1.1.0 #==py_2
testpath==0.6.0 #==pyhd8ed1ab_0
toolz==0.11.2 #==pyhd8ed1ab_0
traittypes==0.2.1 #==pyh9f0ad1d_2
urllib3==1.26.9 #==pyhd8ed1ab_0
werkzeug==2.1.2 #==pyhd8ed1ab_1
wheel>=0.35.1 #==0.37.1 #==pyhd8ed1ab_0
xarray==2022.3.0 #==pyhd8ed1ab_0
zipp==3.8.0 #==pyhd8ed1ab_0
zstd==1.5.2 #==h8a70e8d_1
typing==3.7.4.3 #==pyhd8ed1ab_0
sentinelhub

#
# json-c==0.16
# libopenblas==0.3.20 #==pthreads_h78a6416_0
# libpq>=14.3 ##==14.4 #==hd77ab85_0
# libprotobuf>=3.14.0 #==3.20.1 #==h6239696_0
# libsodium==1.0.18 #==h36c2ea0_1
# kealib==1.4.14
# jpeg==9e
# json-c==0.16
# kealib==1.4.14
# libspatialindex==1.9.3 #==h9c3ff4c_4
# libspatialite==5.0.1 #==h3baac0b_16
# libssh2==1.10.0 #==ha56f1ee_2
# libtiff>=4.3.0 #==4.4.0 #==hc85c160_1
# libxcb==1.13 #==h7f98852_1004
# libxml2==2.9.14 #==h22db469_0
# libxslt==1.1.35 #==h8affb1d_0
# xorg-renderproto==0.11.1 #==h7f98852_1002
# xorg-xextproto==7.3.0 #==h7f98852_1002
# xorg-xproto==7.0.31 #==h7f98852_1007
# xz==5.2.5 #==h516909a_1
# zeromq==4.3.4 #==h9c3ff4c_1
# xerces-c==3.2.3 #==h55805fa_5
# xorg-kbproto==1.0.7 #==h7f98852_1002
# xorg-libice==1.0.10 #==h7f98852_0
# xorg-libsm==1.2.3 #==hd9c2040_1000
# xorg-libx11==1.7.2 #==h7f98852_0
# xorg-libxau==1.0.9 #==h7f98852_0
# xorg-libxdmcp==1.1.3 #==h7f98852_0
# xorg-libxext==1.3.4 #==h7f98852_1
# xorg-libxrender==0.9.10 #==h7f98852_1003