{% if deps|length >0 %}
{% for d in deps %}
{{ d }}
{% endfor %}
{% endif %}
{% if cell.inputs|length > 0 or cell.params|length > 0%}
import argparse
import json
import tempfile
import os
input_path = os.path.join(tempfile.gettempdir(), 'inputs.json')

with open(input_path, 'r') as f:
    inputs = json.load(f)


arg_parser = argparse.ArgumentParser()


{% for param in cell.params|sort %}
arg_parser.add_argument('--{{ param }}', action='store', type={{ types[param] }}, required='True', dest='{{ param }}')
{% endfor %}

args = arg_parser.parse_args()
{% for in_var in cell.inputs|sort %}
{{ in_var }} = inputs['{{ in_var }}']
{% endfor %}

{% for param in cell.params|sort %}
{{ param }} = args.{{ param }}
{% endfor %}
{% endif %}

{% for c in confs %}
{{ c }}
{% endfor %}

{{ cell.original_source }}


outputs = {}
{% if cell.outputs|length > 0 %}
{% for out_var in cell.outputs|sort %}
outputs['{{ out_var }}'] = {{ out_var }}
{% endfor %}
{% endif %}
output_path = os.path.join(tempfile.gettempdir(), 'outputs.json')
with open(output_path, 'w', encoding='utf-8') as f:
    json.dump(outputs, f, ensure_ascii=False, indent=4)