name: venv
channels:
  - conda-forge
  - defaults
dependencies:
  - python==3.8.5
  - pdal==2.3
  - python-pdal
  - gdal
{% if deps|length > 0 %}
  - pip
  - pip:
  {% for d in deps %}
    - {{ d }}
  {% endfor %}
{% endif %}
