name: venv
channels:
  - conda-forge
dependencies:
  - pip
  - python>=3.8
  - nbconvert
{% for d in conda_deps %}
  - {{ d }}
{% endfor %}
{% if pip_deps|length > 0 %}
  - pip:
  {% for d in pip_deps %}
    - {{ d }}
  {% endfor %}
{% endif %}
  - papermill
  - ipykernel