setwd('/app')
library(optparse)
library(jsonlite)

{% for dep in deps%}
{{ dep }}
{% endfor %}

{%  for secret in cell.secrets|sort %}
{{ secret }} = Sys.getenv('{{ secret }}')
{% endfor %}

print('option_list')
option_list = list(

{% for in_var in cell.all_inputs|sort %}
{% if types[in_var] == list or types[in_var] == 'list' %}
{% set type = 'character' %}
{% elif types[in_var] == str or types[in_var] == 'str' %}
{% set type = 'character' %}
{% elif types[in_var] == int or types[in_var] == 'int' %}
{% set type = 'integer' %}
{% elif types[in_var] == float or types[in_var] == 'float' %}
{% set type = 'numeric' %}
{% elif types[in_var] == bool or types[in_var] == 'bool' %}
{% set type = 'logical' %}
{% else %}
{% set type = 'character' %}
{% endif %}
{% set option = 'make_option(c("--' +  in_var+'"), action="store", default=NA, type="'+type+'", help="my description")'   %}
{% if not loop.last %}
{% set option = option + ', '%}
{% endif %}
{{ option }}
{% endfor %}
)


opt = parse_args(OptionParser(option_list=option_list))

var_serialization <- function(var){
    if (is.null(var)){
        print("Variable is null")
        exit(1)
    }
    tryCatch(
        {
            var <- fromJSON(var)
            print("Variable deserialized")
            return(var)
        },
        error=function(e) {
            print("Error while deserializing the variable")
            print(var)
            var <- gsub("'", '"', var)
            var <- fromJSON(var)
            print("Variable deserialized")
            return(var)
        },
        warning=function(w) {
            print("Warning while deserializing the variable")
            var <- gsub("'", '"', var)
            var <- fromJSON(var)
            print("Variable deserialized")
            return(var)
        }
    )
}

{% for in_var in cell.all_inputs|sort %}
print("Retrieving {{ in_var }}")
var = opt${{ in_var }}
print(var)
var_len = length(var)
print(paste("Variable {{ in_var }} has length", var_len))

{% if types[in_var] == list  or types[in_var] == 'list' %}
print("------------------------Running var_serialization for {{ in_var }}-----------------------")
print(opt${{ in_var }})
{{ in_var }} = var_serialization(opt${{ in_var }})
print("---------------------------------------------------------------------------------")

{% elif types[in_var] == str or  types[in_var] == 'str' %}
{{ in_var }} <- gsub("\"", "", opt${{ in_var }})
{% else %}
{{ in_var }} = opt${{ in_var }}
{% endif %}
{% endfor %}

{% for c in confs %}
{{ c }}
{% endfor %}

print("Running the cell")
{{ cell.original_source }}
{% if cell.outputs|length > 0 %}
# capturing outputs
{% for out in cell.outputs %}
print('Serialization of {{ out }}')
file <- file(paste0('/tmp/{{out}}_', id, '.json'))
writeLines(toJSON({{out}}, auto_unbox=TRUE), file)
close(file)
{% endfor %}
{% endif %}