name: Python Package using Conda

on:
  workflow_call:


jobs:
  build-linux:
    runs-on: ubuntu-latest
    env:
      CELL_GITHUB: ${{ secrets.CELL_GITHUB }}
      CELL_GITHUB_TOKEN: ${{ secrets.CELL_GITHUB_TOKEN }}
      REGISTRY_URL: ${{ secrets.REGISTRY_URL }}
      SEARCH_API_ENDPOINT: ${{ secrets.SEARCH_API_ENDPOINT }}
      SEARCH_API_TOKEN: ${{ secrets.SEARCH_API_TOKEN }}
      API_ENDPOINT: ${{ secrets.API_ENDPOINT }}
      NAAVRE_API_TOKEN: ${{ secrets.NAAVRE_API_TOKEN }}
      VLAB_SLUG: ${{ secrets.VLAB_SLUG }}
      JUPYTERHUB_USER: ${{ secrets.JUPYTERHUB_USER }}
      MODULE_MAPPING_URL: ${{ secrets.MODULE_MAPPING_URL }}

    strategy:
      max-parallel: 5
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          conda env update --file environment.yml --name base
          

      - name: setup env
        uses: sergeysova/jq-action@v2
        id: setup_env
        with:
          cmd: |
            mkdir -p $HOME/NaaVRE/
            if [ ! -e "$HOME/NaaVRE/NaaVRE_db.json" ] ; then echo "{}" > $HOME/NaaVRE/NaaVRE_db.json; fi
            jq '. + { "gh_credentials": {  "1": { "name": "QCDIS/NaaVRE-n-a-a-vre-dev-VL", "url": "${CELL_GITHUB}", "token": "${CELL_GITHUB_TOKEN}"}}, "repositories": { "1": { "name": "QCDIS/NaaVRE-n-a-a-vre-dev-VL", "url": "${CELL_GITHUB}", "token": "${CELL_GITHUB_TOKEN}"}},"registry_credentials": {"1": {"name": "u/qcdis","url": "${REGISTRY_URL}","token": null}} }' $HOME/NaaVRE/NaaVRE_db.json > $HOME/NaaVRE/tmp.json
            mv $HOME/NaaVRE/tmp.json $HOME/NaaVRE/NaaVRE_db.json
  

      - name: Lint with flake8
        run: |
          conda install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          echo ${SEARCH_API_ENDPOINT}
          echo ${JUPYTERHUB_USER}
          conda install pytest
          pytest --ignore=docker
